<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline" style="margin-bottom: 15px">
    <h1>EndlessScroll</h1>

  </div>

  <div data-role="content">
      <a class="ui-btn-left" style="clear:left; margin:2px;" href="Product/generate">Generate Records</a>
      <a class="ui-btn-left" style="clear:left; margin:2px;" href="Product">Products</a>
  </div>

</div>
